* {
    margin: 0;
    padding: 0;
    color: rgb(177, 225, 253);
}

button {
    background-color: #444499;
}

.input-panel {
    background-color: #9393cf;
    margin: 0 auto;
    padding: 0 0 10px 0;
    width: 500px;
}

.task-list-div {
    background-color: #6969a0;
    margin: 0 auto;
    width: 500px;
}

.input-panel p {
    padding: 10px 0;
}

#task-ul li {
    list-style: none;
    border: 1px solid black;
    background-color: #9393c5;
}

#task-ul li button {
    float: right;
}